$gray: #ccc;
$lightGray: #eee;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

//body {
//  min-height: 100vh;
//}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  gap: 10px;
}

h2 {
  margin-bottom: 10px;
}

// ======== task tree ========

.tree-container {
  border: 1px solid $gray;
  border-radius: 10px;
  padding: 15px;
  height: 100%;
}

.task-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-item-container {
  width: 100%;
  border-radius: 7px;
  padding: 5px 0 5px 10px;
  font-size: 1.125rem;
}

.task-item-container.active {
  background: $lightGray;
}

.task-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid $gray;
  cursor: pointer;
}

.task-item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.task-item-text {
  display: flex;
  align-items: center;
  gap: 4px;
}

// ===== task view =====


.view-container {
  border: 1px solid $gray;
  border-radius: 10px;
  padding: 15px;
  height: 100%;

  p {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
}


