$clr-primary: #ccc;
$clr-primary-light: #eee;
$clr-primary-dark: #333;
$border: 1px solid $clr-primary;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

.wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.container {
  height: 100%;
  min-height: 800px;
  display: grid;
  //grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  gap: 10px;
  padding: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
  font-size: 1rem;

  a {
    font-weight: bold;
    color: $clr-primary-dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h2 {
  margin-bottom: 10px;
}

// ======== task tree ========

.tree-container {
  border: $border;
  border-radius: 10px;
  padding: 15px;
  height: 100%;

  overflow-y: scroll;
}

.task-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-item-container {
  width: 100%;
  border-radius: 7px;
  padding: 5px 0 5px 10px;
  font-size: 1.125rem;

  cursor: pointer;

  border: 2px solid transparent;

  transition: all 200ms ease;

  &:hover {
    border-color: $clr-primary;
  }

  &.active {
    background: $clr-primary-light;
  }
}

.task-checkbox {
  width: 20px;
  height: 20px;
  border: $border;
  cursor: pointer;
}

.task-item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.task-item-text {
  display: flex;
  align-items: center;
  gap: 4px;

  &.completed {
    text-decoration: line-through;
    color: $clr-primary;
  }
}

.task-item-chevron {
  cursor: pointer;

  transition: transform 100ms ease;
  display: grid;
  place-items: center;
  padding: 3px;
  border-radius: 100%;

  &:hover {
    transform: scale(1.1);
  }
}

.task-menu {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;

  z-index: 200000;

  background: white;
  border: 1px solid $clr-primary-dark;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.125rem;

  list-style: none;

  flex-direction: column;
  gap: 10px;

  &.open {
    display: flex;
  }

  li {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tree-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tree-icon {
  width: 30px;
  height: 30px;
}

input {
  width: 100%;
  padding: 7px;
  border: $border;
  border-radius: 5px;
}

.task-options {
  display: flex;
  align-items: center;
  gap: 8px;

  position: relative;
}

.task-item-edit {
  width: 100%;
  display: flex;
  gap: 4px;

  button {
    background: transparent;
    border: none;
    outline: none;
  }

  .buttons {
    display: flex;
    gap: 2px;
    align-items: center;
  }
}

// ===== task view =====

.view-container {
  border: $border;
  border-radius: 10px;
  padding: 15px;
  height: 100%;

  p {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.view-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .buttons {
    display: flex;
    gap: 8px;
    align-items: center;

    button {
      background: transparent;
      border: none;
      outline: none;

      font-size: 1.125rem;
      font-weight: 500;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  input {
    font-size: 1.25rem;
  }
}

.view-body {
  width: 100%;
  height: 100%;

  textarea {
    width: 100%;

    height: 100%;
    padding: 5px;
    border: $border;
    border-radius: 5px;

    font-size: 1.125rem;
    resize: none;
  }
}

@media (min-width: 800px) {
  .container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  // .tree-container {
  //   overflow-y: hidden;
  // }
}
